
<%- include("../layouts/header.ejs") %>

<main>
  <div class="mb-4 pb-4"></div>
  <section class="my-account container">
     <div class="mb-4 pb-4"></div>
    <h2 class="page-title">Change Password</h2>
    <div class="row">
      <div class="col-lg-3">
        <ul class="account-nav">
          <li><a href="/userdashboard" class="menu-link menu-link_us-s">Dashboard</a></li>
          <li><a href="/orderlist" class="menu-link menu-link_us-s">Orders</a></li>
          <li><a href="/address" class="menu-link menu-link_us-s ">Addresses</a></li>
          <li><a href="/userdetails" class="menu-link menu-link_us-s menu-link_s">Account Details</a></li>
          <li><a href="/changepassword" class="menu-link menu-link_us-s menu-link_active">Change Password</a></li>
          <!-- <li><a href="./account_wishlist.html" class="menu-link menu-link_us-s">Change Password</a></li> -->
          <li><a href="./account_wishlist.html" class="menu-link menu-link_us-s">Wishlist</a></li>
          <li><a href="/userlogout" class="menu-link menu-link_us-s">Logout</a></li>
        </ul>
      </div>
      <div class="col-lg-9" id="relod">
        <div class="my-account__address-item">
         <div class="my-account__address-item__title">
           <h5></h5>
           
         </div>
         <div class="page-content my-account__address" >
 
           <div class="my-account__address-list">
   
            
             <div class="my-account__address-item" id="profileload">
               
                 <div class="card mb-3" id="profile-card">
                   <div class="card-body address-card">
                     <!-- Address Details -->
                   
                     <div id="user-edit-profile" class="user-message text-dark" style="display: none;">Password Changed Successfully</div>
                     <!-- Editable Input Fields -->
                     <div class="row mb-2">
                       <div class="col">
                        <label for="Fullname">Current Password</label>
                         <input type="text" id="Fullname" class="form-control input-border input-small" placeholder="Current Password" value="" disabled>
                       </div>
                      
                     </div>
                     <div class="row mb-2">
                       <div class="col">
                        <label for="mobile">New Password</label>
                         <input  id="mobile" class="form-control input-border input-small" placeholder="New Password" value="" disabled>
                       </div>
                      
                     </div>
                    
                     <div class="mt-auto text-end">
                       <!-- Buttons for Address Actions -->
                       <button class="btn btn-primary btn-sm text-white" id="address-btn" >Change Password</button>
                     
                     </div>
                   </div>
                 </div>
             
               
         
             </div>
           </div>
         </div>
       </div> 
        </div>
      </div>
    </div>
  </section>
</main>






<%- include("../layouts/footer.ejs") %>