<%- include("../layouts/header.ejs") %>

<main>
  <br><br>
    <div class="mb-4 pb-4"></div>
    <section class="my-account container">
      <h2 class="page-title">My Account</h2>
      <div class="row">
        <div class="col-lg-3">
          <ul class="account-nav">
            <li><a href="/userdashboard" class="menu-link menu-link_us-s menu-link_active">Dashboard</a></li>
            <li><a href="/orderlist" class="menu-link menu-link_us-s">Orders</a></li>
            <li><a href="/address" class="menu-link menu-link_us-s">Addresses</a></li>
            <li><a href="/userdetails" class="menu-link menu-link_us-s">Account Details</a></li>
            <li><a href="./account_wishlist.html" class="menu-link menu-link_us-s">Wishlist</a></li>
            <li><a href="/userlogout" class="menu-link menu-link_us-s">Logout</a></li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="page-content my-account__dashboard">
            <p>Hello <strong><%= user.name %></strong></p>
            <!--  (not <strong><%= user.name %>?</strong> <a href="./login_register.html">Log out</a>) -->
            <p>From your account dashboard you can view your <a class="unerline-link" href="./account_orders.html">recent orders</a>, manage your <a class="unerline-link" href="./account_edit_address.html">shipping and billing addresses</a>, and <a class="unerline-link" href="./account_edit.html">edit your password and account details.</a></p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>
  


  <!-- Go To Top -->
  <div id="scrollTop" class="visually-hidden end-0"></div>

  <!-- Page Overlay -->
  <div class="page-overlay"></div><!-- /.page-overlay -->

  <!-- External JavaScripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>
  
  <script src="js/swiper.min.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/jquery.fancybox.js"></script>

  <!-- Footer Scripts -->
  <script src="js/theme.js"></script>


  <%- include("../layouts/footer.ejs") %>