<%- include("../layouts/header.ejs") %>
  
    <main>
      <div class="mb-4 pb-4"></div>
      <section class="login-register container">
        <h2 class="d-none"> Register</h2>
        <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
          <!-- <li class="nav-item" role="presentation">
            <a class="nav-link nav-link_underscore active" id="login-tab" data-bs-toggle="tab" href="#tab-item-login" role="tab" aria-controls="tab-item-login" aria-selected="true">Login</a>
          </li> -->
          <li class="nav-item" role="presentation">
            <a class="nav-link"  id="register-tab" data-bs-toggle="tab" href="#tab-item-register" role="tab" aria-controls="tab-item-register" aria-selected="false">Register</a>
          </li>
        </ul>
        <div class="tab-content pt-2" id="login_register_tab_content">
            <div class="login-form">
              <form name="login-form" class="needs-validation" action="/userRegister" method="POST">
                <div class="form-floating mb-3">
                  <input name="email"  type="email" class="form-control form-control_gray" id="email" placeholder="Email address *" required="">
                  <label for="customerNameEmailInput1">Email Address *</label>
                </div>
      
                <div class="pb-3"></div>
      
                <div class="form-floating mb-3">
                  <input name="name" type="text" class="form-control form-control_gray" id="customerPasswodInput" placeholder="Username *" required="">
                  <label for="customerPasswodInput">Username *</label>
                </div>

                <div class="form-floating mb-3">
                    <input name="mobile" type="text" class="form-control form-control_gray" id="customerPasswodInput" placeholder="phone" required="">
                    <label for="customerPasswodInput">Phone *</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input name="password" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder="Password *" required="">
                    <label for="customerPasswodInput">Password *</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input name="confirmPassword" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder="Password *" required="">
                    <label for="customerPasswodInput">Confirm Password *</label>
                  </div>
      
                <!-- <div class="d-flex align-items-center mb-3 pb-2">
                  <div class="form-check mb-0">
                    <input name="remember" class="form-check-input form-check-input_fill" type="checkbox" value="" id="flexCheckDefault1">
                    <label class="form-check-label text-secondary" for="flexCheckDefault1">Remember me</label>
                  </div>
                  <a href="./reset_password.html" class="btn-text ms-auto">Lost password?</a>
                </div> -->
      
                <button class="btn btn-primary w-100 text-uppercase" type="submit" >register</button>
      
                <div class="customer-option mt-4 text-center">
                  <span class="text-secondary">Already have an account?</span>
                  <a href="/userlogin" class="btn-text js-show-register">Log in</a>
                </div>
              </form>
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="tab-item-register" role="tabpanel" aria-labelledby="register-tab">
            <div class="register-form">
              <form name="register-form" class="needs-validation" novalidate="">
                <div class="form-floating mb-3">
                  <input name="register_username" type="text" class="form-control form-control_gray" id="customerNameRegisterInput" placeholder="Username" required="">
                  <label for="customerNameRegisterInput">Username</label>
                </div>
      
                <div class="pb-3"></div>
  
                <div class="form-floating mb-3">
                  <input name="register_email" type="email" class="form-control form-control_gray" id="customerEmailRegisterInput" placeholder="Email address *" required="">
                  <label for="customerEmailRegisterInput">Email address *</label>
                </div>
      
                <div class="pb-3"></div>
      
                <div class="form-floating mb-3">
                  <input name="register_password" type="password" class="form-control form-control_gray" id="customerPasswodRegisterInput" placeholder="Password *" required="">
                  <label for="customerPasswodRegisterInput">Password *</label>
                </div>
      
                <div class="d-flex align-items-center mb-3 pb-2">
                  <p class="m-0">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>
                </div>
      
                <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>
              </form>
            </div>
          </div> -->
        </div>
      </section>
    </main>

<script>
 function validateForm() {
    // Reset error messages
    document.getElementById('nameError').innerHTML = '';
    document.getElementById('emailError').innerHTML = '';
    document.getElementById('mobileError').innerHTML = '';
    document.getElementById('passwordError').innerHTML = '';
    document.getElementById('confirmPasswordError').innerHTML = '';

    // Get form values
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var mobileNumber = document.getElementById('mobileNumber').value;
    var password = document.getElementById('password').value;
    var confirmPassword = document.getElementById('confirmPassword').value;

    // Validate name
    if (name.trim() === '') {
        document.getElementById('nameError').innerHTML = 'Username is required';
        return false;
    }

    // Validate email
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
        document.getElementById('emailError').innerHTML = 'Invalid email address';
        return false;
    }

    // Validate mobile number (you may customize the validation based on your requirements)
    if (mobileNumber.trim() === '') {
        document.getElementById('mobileError').innerHTML = 'Mobile Number is required';
        return false;
    }

    // Validate password length and strength
    if (password.length < 8 || !(/[A-Z]/.test(password)) || !(/[!@#$%^&*(),.?":{}|<>]/.test(password))) {
        document.getElementById('passwordError').innerHTML = 'Password must be at least 8 characters long and include at least one uppercase letter and one special character';
        return false;
    }

    // Validate password match
    if (password !== confirmPassword) {
        document.getElementById('confirmPasswordError').innerHTML = 'Passwords do not match';
        return false;
    }

    // If all validations pass, return true to submit the form
    return true;
}
</script>
  
    <div class="mb-5 pb-xl-5"></div>
    
    <%- include("../layouts/footer.ejs") %>